body
{
    color: White;
    margin-left: 0;
    margin-right: 0;
}

#backgroundtop
{
    background-color: #006F13;
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -4;
}

#backgroundleft
{
    background-color: #A5E7FF;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
}

#backgroundright
{
    background-color: #FFC286;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: -5;
}

.container
{
    color: #252525;
    width: 50%;
    float: left;
    text-align: center;
    padding-top: 30px;
}

h1
{
    font-size: 100px;
    margin: 0;
}

h2
{
    margin: 0;
    font-size: 24px;
    margin-bottom:15px;
}

p
{
}

img
{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:85%;
}